absl-py==1.3.0
aiodns==3.0.0
aiohttp==3.8.3
aiosignal==1.3.1
alpha-vantage==2.3.1
altair==4.2.0
anaconda==0.0.1.1
ansiwrap==0.8.4
anyio==3.6.2
appdirs==1.4.4
arch==5.3.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ascii-magic==1.6
asgiref==3.5.2
astor==0.8.1
astropy==5.1.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
Authlib==1.2.1
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beartype==0.7.1
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.1
blinker==1.5
blis==0.7.9
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
bt==0.2.9
cachetools==5.2.0
catalogue==2.0.8
catboost==1.1.1
ccxt==2.8.69
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
cmdstanpy==1.0.8
colorama==0.4.6
commonmark==0.9.1
confection==0.1.0
contourpy==1.0.6
convertdate==2.4.0
cryptography==38.0.4
cssselect==1.2.0
cssselect2==0.7.0
cvxpy==1.2.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
dataclasses-json==0.5.9
dateparser==1.1.4
DateTime==4.7
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
degiro-connector==2.0.21
deprecation==2.1.0
detecta==0.0.5
dill==0.3.6
dj-database-url==0.5.0
Django==4.0.5
django-filter==21.1
django-heroku==0.3.1
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
dnspython==2.2.1
ecos==2.0.10
elastic-transport==8.4.0
elasticsearch==8.8.0
entrypoints==0.4
ephem==4.1.3
et-xmlfile==1.1.0
exchange-calendars==4.2.4
executing==1.2.0
faiss-cpu==1.7.4
fastjsonschema==2.16.2
feedparser==6.0.10
ffmpeg-python==0.2.0
ffn==0.3.6
filelock==3.9.0
financedatabase==2.1.0
finnhub-python==2.4.15
finviz==1.4.4
finvizfinance==0.14.4
flake8==6.0.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
formulaic==0.3.4
fred==3.1
fredapi==0.4.3
frozendict==2.3.4
frozenlist==1.3.3
fsspec==2022.11.0
fundamentalanalysis==0.2.14
future==0.18.2
gitdb==4.0.10
GitPython==3.1.29
google-api-core==2.11.1
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.59.1
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.56.0
grpcio-tools==1.56.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hijri-converter==2.2.4
holidays==0.14.2
hpack==4.0.0
html5lib==1.1
httpcore==0.16.2
httplib2==0.22.0
httpx==0.23.1
huggingface-hub==0.12.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==5.1.0
inflection==0.5.1
interface-meta==1.3.0
intrinio-sdk==6.22.2
investiny==0.5.0
investpy==1.0.8
ipyflex==0.2.6
ipykernel==6.17.1
ipympl==0.8.4
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
iso8601==0.1.16
isodate==0.6.1
isort==5.10.1
jaraco.context==4.3.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==3.2.0
jupyter-server==1.23.3
jupyter_client==7.4.1
jupyter_core==5.1.0
jupyterlab==3.5.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.3
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langchain==0.0.229
langchainplus-sdk==0.0.20
langcodes==3.3.0
lightgbm==3.3.5
linearmodels==4.27
llvmlite==0.39.1
loguru==0.6.0
LunarCalendar==0.0.9
lxml==4.9.1
manifest-ml==0.0.1
Markdown==3.3.7
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
more-itertools==9.0.0
mplfinance==0.12.9b5
mstarpy==0.0.4
multidict==6.0.3
multitasking==0.0.11
murmurhash==1.0.9
mutagen==1.46.0
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
nfoursid==1.0.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.4
oandapyV20==0.6.3
oauthlib==3.2.2
onetimepass==1.0.1
openai==0.27.8
openai-whisper==20230124
openapi-schema-pydantic==1.2.4
openbb==3.0.0
openpyxl==3.0.10
osqp==0.6.2.post8
packaging==23.0
pandas==1.5.2
pandas-datareader==0.10.0
pandas-market-calendars==3.2
pandas-ta==0.3.14b0
pandocfilters==1.5.0
papermill==2.4.0
parso==0.8.3
pathspec==0.9.0
pathy==0.10.2
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.2.0
pinecone-client==2.2.2
platformdirs==2.5.2
plotly==5.11.0
pmaw==3.0.0
pmdarima==2.0.2
praw==7.6.1
prawcore==2.3.0
preshed==3.0.8
prometheus-client==0.15.0
prompt-toolkit==3.0.33
property-cached==1.6.4
prophet==1.1.1
protobuf==3.19.0
psaw==0.0.12
psutil==5.9.3
psycopg2==2.9.3
pure-eval==0.2.2
pyally==1.1.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.2.2
pycodestyle==2.10.0
pycoingecko==3.1.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.5
pydeck==0.8.0
pyDeprecate==0.3.2
pyerfa==2.0.0.1
pyEX==0.5.0
pyflakes==3.0.1
Pygments==2.13.0
pyhdfe==0.1.1
pyluach==2.0.2
PyMeeus==0.5.11
pymongo==3.13.0
Pympler==1.0.1
pyod==1.0.7
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyotp==2.7.0
pyparsing==3.0.9
PyPDF2==3.0.1
PyPrind==2.11.3
pyrsistent==0.19.3
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pythclient==0.1.2
python-binance==1.0.16
python-coinmarketcap==0.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.19.2
python-i18n==0.3.9
pytorch-lightning==1.6.5
pytrends==4.9.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pywinpty==2.0.9
pywry==0.4.9
PyYAML==6.0
pyzmq==24.0.1
qdldl==0.1.5.post2
qdrant-client==0.11.10
Quandl==3.7.0
rapidfuzz==2.13.7
rdflib==6.2.0
redis==4.6.0
regex==2022.10.31
reportlab==3.6.13
requests==2.28.1
requests-futures==1.0.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3986==1.5.0
rich==12.6.0
Riskfolio-Lib==3.3.0
robin-stocks==2.1.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
schedule==1.2.0
scikit-learn==1.1.3
scipy==1.9.3
screeninfo==0.6.7
scs==3.2.2
seaborn==0.11.2
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.0
sentiment-investor==2.1.0
setproctitle==1.3.2
setuptools-git==1.2
setuptools-rust==1.5.2
setuptools-scm==6.4.2
sgmllib3k==1.0.0
shap==0.41.0
six==1.16.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
socketIO-client-nexus==0.7.6
soupsieve==2.3.2.post1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SQLAlchemy==1.4.49
sqlitedict==2.1.0
sqlparse==0.4.2
squarify==0.4.3
srsly==2.4.6
sseclient==0.0.27
stack-data==0.6.2
statsforecast==1.4.0
statsmodels==0.13.5
stocksera==0.1.21
streamlit==1.21.0
streamlit-aggrid==0.3.4.post3
svglib==1.5.1
TA-Lib @ file:///D:/bld/ta-lib_1655668087947/work
tabulate==0.9.0
tbats==1.1.1
temporal-cache==0.1.4
tenacity==8.2.2
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
textwrap3==0.9.2
thepassiveinvestor==1.1.2
thinc==8.1.10
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.2
tokenterminal==1.0.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.11.0
torchmetrics==0.11.0
tornado==6.2
tqdm==4.64.1
tradingview-ta==3.3.0
traitlets==5.6.0
transformers==4.26.1
tweepy==4.12.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2022.1
tzlocal==4.2
u8darts==0.23.0
ujson==5.6.0
Unidecode==1.3.6
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.13
user-agent==0.1.10
vaderSentiment==3.3.2
validators==0.20.0
valinvest==0.0.2
voila==0.4.0
wasabi==1.1.2
watchdog==2.2.0
wcwidth==0.2.5
weaviate-client==3.21.0
webencodings==0.5.1
websocket-client==1.4.2
websockets==11.0.2
Werkzeug==2.2.2
whitenoise==6.0.0
widgetsnbextension==4.0.3
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
win32-setctime==1.1.0
wincertstore==0.2
wolframalpha==5.0.0
wrapt==1.14.1
xarray==2022.12.0
xgboost==1.7.4
XlsxWriter==3.0.3
xmltodict==0.13.0
y-py==0.6.0
yahooquery==2.3.0
yarl==1.8.2
yfinance==0.2.12
yt-dlp==2023.2.17
zipp==3.11.0
zope.interface==5.5.2
